*{
    margin:0px;
    padding:0px;
}


body{
    background-color: white;
}
.first{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    height:500px;
  
  
    
    
}
.half-width h1{
    text-transform: uppercase;
    background-color: white;
   
}
.half-width .name{
    color:orange;
}

.half-width{
    width:35%;
    float:left;
  

}
.first .left{
    margin:50px;
}
.half-width img{
    width:100%;  
    margin:10px 10px 50px 300px;
  
}
.first .btn{
    margin:5px;
    padding:8px;
    background-color: orange;
    border:1px solid orange;
    border-radius: 5px;
}

.first .btn a{
    color:white;
    text-decoration: none;
    text-transform:capitalize;
}
.second{
    height:500px;
}

.half-width{
    width:35%;
    float:left;
  

}
.second .half-width img{
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    margin-left:50px;
}
.second .right{
    margin:80px 10px 50px 350px;
}
.second .right h2{
    text-transform: capitalize;
    margin:10px 10px 10px 0px;
    font-size: 40px;
}
.second .right .btn{
    background-color: orange;
    border-color:1px solid orange;
    border-radius:5px;
    padding:5px;
    margin-top:30px;
    
}
.second .right .btn a{
    color:white;
    text-decoration: none;
    text-transform:capitalize;
  

}

#third{
    height:500px;
   
}
#third h2{
    text-transform: uppercase;
   
    margin:90px 500px;
    

}

.three{
    width:25%;
    float:left;
    margin-top:10px;
    margin-right:20px ;
    margin-bottom: 20px;
    margin-left:80px ;
}
.three img{
    width:100%;
    box-shadow:5px 5px 40px grey;
    border-radius:5px;
    height:80%;
  
    
}

 .text{
    margin-top:20px;
    margin-left:15px;
}
/*fourth section start*/

.fourth{
    height:200px;
    text-align: center;
  
    
}
.fourth .work-img{
    height:200px;
    background-image: url("images/bluebar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px 150px;
 

}


 .fourth .work-img #work h3{
     height:30px;
    width:200px;
    text-transform: uppercase;
    margin-top:300px;
    margin-left:250px;
    margin-right:0px;
    border:1px solid red;
  
 
    
}

 .center {

    display:inline;
  
    margin-top:60px;
    margin-left: 450px;
 
    width:80px;
    height:40px;
    padding:2px;
    background-color:#ff8333;
    border-radius:5px;
   
 
}
  .fourth .center a{
      color:white;
      text-decoration: none;
      text-transform: capitalize;
  }
  /*
  footer start 
  */
  
  .footer{
      height:200px;
  }
  .msg{
      height:25%;
      align-self: auto ;
  }
  .stay p{
      font-size:18px;
      margin-top:20px;
      margin-bottom:0px;
      text-align: center;
      text-transform:capitalize;

  }
  .hello p{
    font-size:20px;
    text-align: center;
    margin-top:0px;

  }
  .imgcenter{
  
        display: inline;
       
        height:100%;
   
  }
  .icon {
    margin-left:600px;
    width: 50%;
    height:20%;
    
    padding: 10px;
  }